.content-wrapper {
    /* Aplicamos aquí el límite de ancho que estaba en #root */
    max-width: 1280px; 
    margin: 0 auto;
    /* Puedes añadir padding si lo necesitas */
    padding: 0 2rem; 
    text-align: center; /* Mantener el centrado de texto si es necesario */
}