.home-hero {
  display: flex;
  justify-content: center;
  align-items: flex-start;   /*sube el contenido */
  min-height: calc(100vh - 72px); /* 👈 altura real del header */
  padding-top: 40px;        /* ajusta aca para subir o bajar el h1 */
  background-image: url('https://png.pngtree.com/background/20211215/original/pngtree-abstract-light-blue-background-picture-image_1459673.jpg');
  background-size: cover;      /* 👈 cubre toda el área */
  background-repeat: no-repeat;/* 👈 no se repite */
  background-position: center; /* 👈 centrada */
}

.home-hero h1 {
  font-size: 3.2em;
  line-height: 1.1;
  text-align: center;
  margin: 0;                 /* quita margen por defecto */
}
