.home-hero {
  background-image: url('https://png.pngtree.com/background/20211215/original/pngtree-abstract-light-blue-background-picture-image_1459673.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}


.home-hero h1 {
  text-align: center;            
}

.home-hero p {
  text-align: center;
}


.home-hero h2 {
  text-align: center;
}

.hero-content {
  max-width: 1100px;   /* ancho cómodo de lectura */
  margin: 0 auto;     /* lo centra */
  display: flex;
  flex-direction: column;
  padding-bottom: 6rem; /* aire antes del footer */

  justify-content: flex-start; /* arriba */
  align-items: center;         /* centro horizontal */

  min-height: calc(100vh - 72px);
  padding-top: 40px;
}

.category-peluches h2 {
  text-align: center;
  margin-top: -40px;
}