.cart-hero {
  display: flex;
  flex-direction: column;
  padding-bottom: 6rem; /* aire antes del footer */

  justify-content: flex-start; /* arriba */
  align-items: center;         /* centro horizontal */

  padding-top: 40px;

  background-image: url('https://png.pngtree.com/background/20211215/original/pngtree-abstract-light-blue-background-picture-image_1459673.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 50vh; 
}

.cart-item img{
  width: 200px;
  height: 220px;
  object-fit: cover;
  border-radius: 12px;
}

.cart-item {
  display: flex;
  gap: 24px;
  padding: 12px;
  border-radius: 12px;
  background: #fff;
  width: 100%;
}
.cart-content {
  display: flex;
  flex-direction: column;
  gap: 32px;
  width: 100%;
  max-width: 420px;
  margin: 0 auto;
  text-align: center;
}