
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  font-family: 'Nunito', sans-serif;
  line-height: 1.5;
  background-color: #ffffff;
}

#root {
  min-height: 100vh;
}

html {
  overflow-y: scroll;
}


/* Títulos */
h1, h2, h3 {
  font-family: 'Baloo 2', cursive;
  font-weight: 600;
}

/* Texto normal */
p {
  font-size: 1rem;
  line-height: 1.6;
}

/* Links */
a {
  text-decoration: none;
  color: inherit;
}
